In [87]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

import psycopg2

In [88]:
df = pd.read_csv('Walmart.csv')

In [89]:
df.shape

(10051, 11)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [91]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [92]:
df.duplicated().sum()

np.int64(51)

In [93]:
df.drop_duplicates(inplace=True)

In [94]:
df.duplicated().sum()

np.int64(0)

In [95]:
df.dropna(inplace=True)

In [96]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [97]:
df['unit_price'] = df['unit_price'].str.replace('$', "").astype(float)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [99]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [100]:
df.columns = df.columns.str.lower()

In [101]:
df['total_price'] = df['unit_price'] * df['quantity']

In [102]:
df.to_csv('Walmart_clean_data.csv', index=False)

In [ ]:
engine = create_engine("postgresql+psycopg2://postgres:29october@localhost:5432/walmart_db")
try:
    engine_psql
    print("Connection successfull")
except:
    print("Connection Failed")

In [104]:
df.to_sql(name= 'walmart', con = engine, if_exists='replace', index = False)

969